.project-description > p, .project-description > ul{
    margin-bottom: 1rem;
}

.project-description > h3{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.project-description > ul > li > ul > li{
    margin-left: 2rem;
    /* margin-bottom: 0.5rem; */
    list-style-type: disc;
}

.project-description > ul > li{
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    list-style-type: square;
}